<html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Post Update</title>
</style>
</head>
 
<body style="background-color:#f6f6f6; color:#000; width:100%!important; height:100%;">
  <!-- body -->
  <table style="background-color:#f6f6f6; width:100%; padding-top:20px;">
    <tr>
      <td></td>
      <td style="background-color:#FFFFFF; padding:20px; display:block!important; width:600px!important;margin:0 auto!important; clear:both!important;">
        <div style="max-width:600px; margin:0 auto; display:block;">
          <!--Content-->
          <table style="background-color:#FFFFFF;width: 100%;">
            <tr>
              <td style="padding:20px;">
                <!--Main Content-->
                <h1 style="margin:10px 0 10px; color:#000;"><%= @post.title %></h1>
                <p>We are notifying you because you have subscribed on <a href="http://invictus-hd.com" style="color: #348eda;">invictus-hd.com</a> to get notifications about new blog posts. A snip-it of the post is provided below.</p>
                <h2></h2>
                <p><%= GitHub::Markdown.render_gfm(@post.content[0..250]).html_safe %></p>
                <table style="background-color:#FFFFFF;">
                  <tr>
                    <td style="color: #FFF;background-color: #348eda;border:solid #348eda;border-width:10px 20px;line-height:2;font-weight:bold;margin-right:10px;text-align:center;cursor:pointer;display: inline-block;border-radius: 25px;">
                      <%= link_to "Go to the blog post", post_url(@post), style: "text-decoration:none;color: #FFF;" %>
                    </td>
                  </tr>
                </table>
                <br>
                <p>Follow <a href="https://twitter.com/InvictusHD" style="color: #348eda;">@InvictusHD</a>, Feel free to contact us at: <a href="mailto:support@invictus-hd.com" style="color: #348eda;">support@invictus-hd.com</a></p>
                <!--/Main Content-->
              </td>
            </tr>
          </table>
          <!--/Content-->
        </div>      
      </td>
      <td></td>
    </tr>
  </table>
  <!-- /body -->
  <!-- footer -->
  <table style="background-color:#f6f6f6; width:100%; clear:both!important;">
    <tr>
      <td></td>
      <td style="display:block!important; margin:0 auto!important; clear:both!important;">
        <div style="max-width:600px; margin:0 auto; display:block;">
          <!-- content -->
          <table style="background-color:#f6f6f6; width:100%;">
            <tr>
              <td align="center">
                <p style="font-size:12px; color:#999;">Edit email settings on your profile. <%= link_to 'Unsubscribe',  edit_user_registration_url, style: "color: #348eda;" %>.</p>
              </td>
            </tr>
          </table>
          <!-- /content -->
        </div>
      </td>
      <td></td>
    </tr>
  </table>
  <!-- /footer -->
</body>
</html>
