<div class="modal fade" id="modal<%= comment.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="left:auto;right:auto;">

    <%= form_for(comment, url: post_comment_path(@post,comment)) do |f| %>

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Edit Your Post</h4>
        </div>
        <div class="modal-body">
          <%= f.text_area :content, class: "form-control", rows: 5, :onKeyUp => "update_count(this)" %>
        </div>
        <div class="modal-footer">
          <small><span id="chars">400</span>/400 characters </small>
          <%= f.submit "Submit", class: "btn btn-primary", :data => { disable_with: 'Submitting', :toggle=>"tooltip", :placement=>"top", :title=>"Tab+Enter"}  %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    <% end %>

  </div>
</div>