<% if @download.errors.any? %>
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    The form contains <%= pluralize(@download.errors.count, "error") %>.
    <ul>
    <% @download.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>