<div class="container" style="padding-bottom:10px">
  <hr>
  <footer>
    <div class="pull-left">
      <p>Copyright &copy; Invictus Textures 2013-<%= Time.now.year+1 %></p>
    </div>
    <div class="pull-right">
      <a href="mailto:support@invictus-hd.com">Contact Us</a>      
    </div>
  </footer>
</div><!-- /.container -->