/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_directory .
 */

@import "bootstrap";
@import "bootstrap-theme";
@import "jasny-bootstrap";
@import url("http://fonts.googleapis.com/css?family=Telex");

html {
  overflow-y: scroll;
}

body {
  //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: 'Telex', sans-serif;
  padding-top: 50px;
  height: 100%;
}

.anchor {
  padding-top: 60px;
  margin-top: -60px;
  display: block;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}